@tailwind base;
@tailwind components;
@tailwind utilities;

/* text */
h2{
    @apply text-4xl font-bold mb-6;
}
h3{
    @apply text-3xl font-bold mb-6;
}
p{
    @apply text-brown-500;
}
.default-link{
    @apply inline-block mt-4 text-red border-b-2 border-red;
}

/* Helpers */
.pl-105{
    padding-left: 105px;
}

.pr-105{
    padding-right: 105px;
}

/* components */
.info-button{
    @apply inline-block border border-solid border-orange-500 px-4 py-2 rounded-full;
}

.info-button p{
    @apply px-4 py-2;
}

.info-button img{
    @apply bg-white rounded-full px-2;
}

.info-button:hover{
    @apply bg-orange-500 text-white;
}

/* Header */
.header-block{
    width: calc(100% - 105px);
}

.nav__logo{
    width: 400px;
    height: 400px;
    @apply flex items-center flex-shrink-0 absolute bg-white rounded-full -ml-20 -mt-20;
}

.nav__logo img{
    @apply relative mt-16 ml-24;
}

.nav__main-menu{
    @apply flex justify-between flex-wrap;
}

.nav__main-items-wrapper{
    @apply block flex-grow flex w-auto mt-12 items-end mb-8;
}

.nav__main-menu-items{
    padding-left: 325px;
    @apply text-sm flex-grow;
}

.nav__main-menu-items a, .nav__side-items-wrapper a{
    @apply block mt-4 inline-block mt-0 mr-8 text-base;
}

.nav__main-menu-items a:hover, .nav__side-items-wrapper a:hover{
    @apply text-orange-500;
}

.nav__side-menu{
    @apply flex;
}

.nav__side-items-wrapper{
    @apply flex items-end;
}

/* info-block */
.info-block{
    @apply flex bg-orange-100;
}

.info-block__left{
    @apply flex-1 py-16 px-16 bg-white;
}

.info-block__left>div>img{
    width: 55%;
    @apply mt-48 absolute z-10;
    /* @apply mt-48; */
}

.info-block__right{
    margin-top: -300px;
    @apply flex-1 py-16 px-16 relative bg-orange-100 pb-64;
}

.info-block__right>div>img{
    @apply mt-48 relative z-20;
}

/* movie */
.movie-block{
    @apply w-full relative;
}

.movie-block__wrapper{
    @apply m-auto table;
}

.movie-block__wrapper::after{
    content: " ";
    top: 0;
    right: 0;
    @apply absolute w-1/2 h-full bg-orange-100;
}

.movie-block__content{
    @apply w-1/2 m-auto mb-32 mt-64 relative z-10;
}

.movie-block__image{
    @apply absolute -mt-48 -ml-48;
}

.info-block__middle-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 30;
    right: calc(50% - 8REM);
    @apply bg-brown-500 w-64 h-64 text-white uppercase;
}

.info-block__middle-div span{
    transform: rotate(-15deg);
    @apply text-2xl;
}

/* Timeline */
.timeline-block{
    @apply bg-orange-300;
}

.timeline-block__content{
    @apply m-auto py-32;
}

.timeline-block__heading{
    @apply flex mb-16;
}

.timeline-block__tl-head{
    @apply flex p-2;
}

.timeline-block__tl-head > div{
    @apply flex-1 text-center;
}

.timeline-block__tl-graphic{
    @apply flex bg-white rounded-full p-2;
}

.timeline-block__tl-graphic-done{
    @apply flex-1 flex bg-orange-400 rounded-full;
}

.timeline-block__tl-graphic-done > div{
    @apply flex-1 align-middle text-center;
}

.timeline-block__tl-graphic-done > div > span{
    @apply w-3 h-3 bg-orange-500 block rounded-full inline-block;
}

.timeline-block__tl-graphic-done > div > span.active{
    @apply w-4 h-4 border-2 border-white;
}

.timeline-block__tl-graphic-tobe-done{
    @apply flex-1 flex;
}

.timeline-block__tl-graphic-tobe-done > div{
    @apply flex-1 align-middle text-center;
}

.timeline-block__tl-graphic-tobe-done > div > span{
    @apply w-3 h-3 bg-orange-500 block rounded-full inline-block;
}

.timeline-block__tl-graphic-tobe-done img{
    @apply block m-auto;
}

.timeline-block__tl-info{
    @apply flex p-2;
}
.timeline-block__tl-info > div{
    @apply flex-1 text-center;
}

.timeline-block__tl-info > div a{
    @apply table m-auto bg-white rounded-full p-3 mt-4;
}

.timeline-block__tl-info > div > img{
    @apply block m-auto mt-8 mb-8;
}

/* Footer */
.footer__wrapper{
    @apply bg-brown-500 py-16;
}

.footer__content{
    @apply mx-auto flex items-center;
}

.footer__newsletter{
    @apply flex-1; 
}

.footer__newsletter-title{
    @apply block text-white text-2xl mb-3; 
}

.footer__newsletter-info{
    @apply text-white mb-5; 
}

.footer__newsletter-inputfield-wrapper{
    border-radius: 50px;
    @apply inline-block bg-brown-100 px-1 py-1 border border-solid border-white;
}

.footer__newsletter-inputfield-wrapper input{
    @apply bg-transparent px-6;
}

.footer__newsletter-inputfield-wrapper button{
    border-radius: 50px;
    @apply bg-white px-6 py-1 text-red;
}

.footer__img{
    @apply flex-none px-8;
}

.footer__nav{
    @apply flex-1;
}

.footer__nav-content{
    @apply flex;
}

.footer__nav-content > div{
    @apply flex-1;
}

.footer__nav-content > div > ul{
    @apply inline-block float-right;
}

.footer-menu li{
    @apply text-white mb-3;
}

.bottom-footer-links a{
    @apply inline-block text-brown-500 mb-3 mt-3 mr-5;
}

.author{
    @apply mb-3 mt-3 justify-end;
}

.author p{
    @apply mr-3;
}

/* sidebar */
.sidebar{
    /* position: sticky; */
    margin-top: -100vh;
    float: right;
    z-index: 10;
    @apply h-screen sticky top-0 bg-transparent flex items-center;
}

.sidebar img{
    @apply block ml-8 mr-8 mb-8;
}